In [13]:
import pandas as pd

In [14]:
raw_data = pd.read_csv("../1_datasets/raw_datasets/covid_deaths.csv")
cleaned_death_data = raw_data.copy()
cleaned_death_data.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Spain,Both,All ages,COVID-19,Percent,2020,0.125091,0.130679,0.118814
1,Deaths,Spain,Both,All ages,COVID-19,Rate,2020,132.948639,139.131075,126.395299
2,Deaths,Spain,Both,15-49 years,COVID-19,Percent,2020,0.148088,0.156547,0.139678
3,Deaths,Spain,Both,15-49 years,COVID-19,Rate,2020,10.472981,11.087217,9.876074
4,Deaths,Fiji,Both,All ages,COVID-19,Percent,2021,0.121380,0.234511,0.063697

In [15]:
cleaned_death_data.columns

Index(['measure', 'location', 'sex', 'age', 'cause', 'metric', 'year', 'val',
       'upper', 'lower'],
      dtype='object')

In [16]:
cleaned_death_data.shape

(200, 10)

In [17]:
cleaned_death_data.isnull().sum()

measure     0
location    0
sex         0
age         0
cause       0
metric      0
year        0
val         0
upper       0
lower       0
dtype: int64

In [18]:
cleaned_death_data = cleaned_death_data.drop(["sex", "age", 'measure', 'cause'], axis=1, errors="ignore")
cleaned_death_data = cleaned_death_data.rename(
    columns={"val": "COVID Deaths Val", "location": "Country"}
)
cleaned_death_data.head()

  Country   metric  year  COVID Deaths Val       upper       lower
0   Spain  Percent  2020          0.125091    0.130679    0.118814
1   Spain     Rate  2020        132.948639  139.131075  126.395299
2   Spain  Percent  2020          0.148088    0.156547    0.139678
3   Spain     Rate  2020         10.472981   11.087217    9.876074
4    Fiji  Percent  2021          0.121380    0.234511    0.063697

In [19]:
countries_to_keep = [
    "Egypt",
    "India",
    "United States of America",
    "Chile",
    "Nigeria",
    "Italy",
    "China",
    "Japan",
    "Afghanistan",
    "Germany",
    "Russian Federation",
    "Spain",
    "Romania",
    "Indonesia",
    "Saudi Arabia",
    "Bangladesh",
    "Republic of Korea",
    "South Africa",
    "Ethiopia",
    "Kenya",
    "Brazil",
    "Mexico",
    "Canada",
    "Australia",
    "Fiji",
]
cleaned_death_data = cleaned_death_data[
    cleaned_death_data["Country"].isin(countries_to_keep)
]
cleaned_death_data.head(20)

      Country   metric  year  COVID Deaths Val       upper       lower
0       Spain  Percent  2020          0.125091    0.130679    0.118814
1       Spain     Rate  2020        132.948639  139.131075  126.395299
2       Spain  Percent  2020          0.148088    0.156547    0.139678
3       Spain     Rate  2020         10.472981   11.087217    9.876074
4        Fiji  Percent  2021          0.121380    0.234511    0.063697
5        Fiji     Rate  2021        124.301052  246.763477   75.311090
6        Fiji  Percent  2021          0.123064    0.236029    0.064148
7        Fiji     Rate  2021         38.868283   77.220136   23.558042
8   Indonesia  Percent  2020          0.046378    0.091085    0.015115
9   Indonesia     Rate  2020         32.667317   67.054381   10.621372
10  Indonesia  Percent  2020          0.049906    0.096787    0.016150
11  Indonesia     Rate  2020         10.159491   20.825411    3.318329
12      China  Percent  2021          0.000092    0.000332    0.000007
13      China     Rate  2021          0.074704    0.282800    0.006005
14      China  Percent  2021          0.000047    0.000163    0.000004
15      China     Rate  2021          0.005552    0.020053    0.000437
16  Australia  Percent  2021          0.019511    0.022927    0.015796
17  Australia     Rate  2021         13.253704   15.534149   10.739787
18  Australia  Percent  2021          0.017440    0.020472    0.014142
19  Australia     Rate  2021          1.430555    1.676678    1.159229

In [20]:
cleaned_death_data.reset_index(drop=True)

,Country,metric,year,COVID Deaths Val,upper,lower
0,Spain,Percent,2020,0.125091,0.130679,0.118814
1,Spain,Rate,2020,132.948639,139.131075,126.395299
2,Spain,Percent,2020,0.148088,0.156547,0.139678
3,Spain,Rate,2020,10.472981,11.087217,9.876074
4,Fiji,Percent,2021,0.121380,0.234511,0.063697
...,...,...,...,...,...,...
195,United States of America,Rate,2021,37.480475,38.348131,36.744992
196,Egypt,Percent,2020,0.110095,0.144800,0.074123
197,Egypt,Rate,2020,68.192879,90.140210,47.074653
198,Egypt,Percent,2020,0.151493,0.196580,0.102127
199,Egypt,Rate,2020,26.043847,34.426903,17.968110

In [21]:
cleaned_death_data.to_csv("cleaned_death.csv", index=False)